#我的微信公众号：扭不开瓶盖
#这是我开动小脑袋瓜，初学并自由发挥的第一波代码
print('Hello world!')
number=1
if 1<number<3:
    print('及格')
elif number<=1:
    print('不及格')
else:
    print('优秀')


#第0课：打印皮卡丘
print('''    へ　　　　　／|
　　/＼7　　　 ∠＿/
　 /　│　　 ／　／
　│　Z ＿,＜　／　　 /`ヽ
　│　　　　　ヽ　　 /　　〉
　 Y　　　　　`　 /　　/
　ｲ●　､　●　　⊂⊃〈　　/
　()　 へ　　　　|　＼〈
　　>ｰ ､_　 ィ　 │ ／／
　 / へ　　 /　ﾉ＜| ＼＼
　 ヽ_ﾉ　　(_／　 │／／
　　7　　　　　　　|／
　　＞―r￣￣`ｰ―＿''')
#第0课：听见无脸男的声音（进阶练习）
#题目要求：
#下面是无脸男对千寻说的话，请你把这段话，运用转义字符按照如下格式打印出来。其中，具体文字会在【书写代码】步骤中直接提供。
#千寻你好，人们叫我'无脸男'
#这个世界的人都选择无视我
#只有你看到了我并和我打招呼
#我感到很孤单，很孤单
#你愿意和我成为朋友吗？

#方法1：
print('''千寻你好,人们叫我'无脸男' 
这个世界的人都选择无视 
我只有你看到了
我并和我打招呼
我感到很孤单，
很孤单
你愿意和我成为朋友吗？''')
#方法2：
print('千寻你好，\n人们叫我\'无脸男\' \n这个世界的人都选择无视我\n只有你\n看到了我并和我打招呼\n我感到很孤单，很孤单\n你愿意和我成为朋友吗？')


#第一课：程序员的一人饮酒醉
number1 = 1
number2 = 2
unit1 = '人'
unit2 = '眼'
line1 = '我编程累'
line2 = '是bug相随'
sentence1 = '碎掉的节操满地堆'
sentence2 = '我只求今日能早归'
#打印两句话：1人我编程累碎掉的节操满地堆
print('1'+unit1+line1+sentence1)
#打印两句话：2眼是bug相随我只求今日能早归
print(str(number2)+unit2+line2+sentence2)

who = '我的'
action = '是'
destination = '镜像世界'
number = 153
code = '通行密码'

print(type(who))
print(type(action))
print(type(destination))
print(type(number))
print(type(code))
#第一课：非酋的吐槽（进阶练习）
#题目要求：
#请运用所给变量，使用数据转换str()、int()、float()及数据拼接符号+，
# 打印一句话： 脸黑怪我咯7张蓝票一个SSR都没有
#其中，变量会在【书写代码】步骤里直接提供。


slogan = '脸黑怪我咯'
number = '7.8'
unit = '张'
sentence = '蓝票一个SSR都没有'
print(slogan+str(int(float(number)))+unit+sentence)
print(slogan+str(int(7.8))+unit+sentence)

#第二课：偷回宝石（基础）
#请你写出一段代码，在一颗宝石都没偷回来的赋值下，进行条件判断，并产生对应的结果：

#1.如果偷回的宝石数是4颗及以上，输出结果获得了打败灭霸的力量，反杀稳了
#2.如果偷回的宝石数是1-3颗，输出结果可以全员出动，殊死一搏
#3.如果偷回的宝石数是0颗，输出结果没办法了，只能尝试呼叫惊奇队长

stonenumber=0
if stonenumber>=4:
    print('获得了打败灭霸的力量，反杀稳了')
elif 1<=stonenumber<=3:
    print('可以全员出动，殊死一搏')
else:
    print('没办法了，只能尝试呼叫惊奇队长')
#第二课：美国队长的工资（进阶练习）
#请你写出一段代码，判断美国队长的工资每月80美元属于什么水平。

#其中判断工资水平的代码需要满足如下条件：
#1.如果月工资小于等于500美元，显示“欢迎进入史塔克穷人帮前三名”
#1.1如果月工资在100-500美元之间，显示“请找弗瑞队长加薪”
#1.2如果月工资小于等于100美元，显示“恭喜您荣获“美元队长”称号！”

#2.如果月工资在500-1000美元之间（含1000美元），打印“祝贺您至少可以温饱了。”

#3.其他情况下，如果工资大于1000美元，打印“经济危机都难不倒您！”
#3.1如果工资在1000-20000美元（含20000美元）之间，打印“您快比钢铁侠有钱了！”
#3.2如果月工资大于20000美元，打印“您是不是来自于瓦坎达国？”
#4.不管赋值改变后输出结果如何，都需固定打印“程序结束”

salary=80
if salary<=500:
    print('欢迎进入史塔克穷人帮前三名')
elif 100<=salary<500:
    print('请找弗瑞队长加薪')
elif salary<=100:
    print('恭喜您荣获“美元队长”称号！')
elif 500<salary<=1000:
    print('祝贺您至少可以温饱了。')
elif salary>1000:
    print('经济危机都难不倒您！')
elif 1000<salary<=20000:
    print('您快比钢铁侠有钱了！')
else:
    print('您是不是来自于瓦坎达国？')    
print('程序结束')


# 第三课：哈利波特的宠物（初级）
#请你写一段代码：
#为哈利·波特的猫头鹰起个名字，并打印出结果哈利·波特的猫头鹰叫做XX
# （其中，XX是你起的名字）。

choice=input('欢迎来到魔法学院，这是你的猫头鹰，请给你的伙伴取一个好听的名字吧：')
print('这只独一无二的小'+choice+'''就是你未来的小伙伴了哦。
请照顾好她哦
早上她要喝牛奶
中午她要吃红烧牛肉面
晚上她要看小星星
记得每天10:30准时睡觉哦
有了她
就要一起做个乖孩子哦''')

#第三课：罗恩的减肥计划（中等）
#题目要求

#为了三强争霸赛的舞会，罗恩想要减肥，所以他决定控制自己的饮食，少吃一点巧克力蛙。
#哈利为了帮助好朋友罗恩，和他一起制定了一个饮食游戏。
#游戏规则如下：
#如果罗恩一天吃超过10个巧克力蛙，罗恩要给哈利100块；
#如果罗恩一天吃小于等于10个的巧克力蛙，哈利就给罗恩100块。

number=int(input('罗恩一天吃的巧克力娃数量:'))
if number>10:
    print('罗恩要给哈利100块')
else:
    print('哈利就给罗恩100块')


#第三课：古灵阁金币兑换（困难）
#接受了霍格沃茨来信的你，带着欣喜与好奇，跟着魔咒学老师吴枫教授，来到了巫师世界的对角巷。在这个相当于人类集市的对角巷，你立刻被魔法世界稀奇古怪的东西吸引，想掏手机刷花呗买买买。
#但是吴枫教授说，麻瓜（没有魔法的人）货币在魔法世界不流通，但是你可以去巫师世界的银行——古灵阁兑换货币。你立刻跟着吴枫老师跑到了古灵阁。当你进到巫师世界的银行时，就有银行的小精灵职员问好：

#注意：以下背景与题目要求相关
#小精灵：您好，欢迎来到古灵阁，请问您需要帮助吗？需要or不需要？
#你：需要
#小精灵：请问您需要什么帮助呢？1 存取款；2 货币兑换；3 咨询
#你：2
#小精灵：金加隆和人民币的兑换率为1:51.3，即一金加隆=51.3人民币
#小精灵：请问您需要兑换多少金加隆呢？
#（你说了一个数字N）
#小精灵：好的，我知道了，您需要兑换（你说的数字N）金加隆。
#小精灵：那么，您需要付给我（你说的数字N*51.3）人民币。

#注1：如果选择不需要帮助，小精灵会礼貌地说'好的，再见。'
#注2: 如果选择帮助【1 存取款】，小精灵会推荐你去存取款窗口；如果选择帮助【3 咨询】，小精灵会推荐你去咨询窗口。

help1=input('''您好，欢迎来到古灵阁，请问您需要帮助吗？
需要or不需要：''')

if help1=='需要':
    choice=int(input('''请问您需要什么帮助呢？
    1 存取款；2 货币兑换；3 咨询
    直接回复数字即可：'''))
    if choice==1:
        print('''请给我麻溜的移步到存款窗口哦，专属魔法小仙女已经在等候~''')
    elif choice==2:
        print('金加隆和人民币的兑换率为1:51，即一金加隆=51.3人民币')
        money=input('请问您需要兑换多少金加隆呢？')
        print('好的，我知道了，您需要兑换'+money+'金加隆。')
        print('那么，您需要付给我'+str(int(money)*51.3)+'人民币。')
    elif choice==3:
        print('''    请问您想咨询什么问题呢？
     请投币聊天哦
     (收费标准：100金加隆/小时)''')
    help2=input('''您好，请在30秒内回复是否继续付费聊天。是-继续or否-不继续 ：''')
    if help2=='是':
        print('我的钱包收款是：XX12345XX,谢谢支持~')
    else:
        print('送你个小捶捶，浪费小仙女做面膜的时间')
else:
    print('''好的，再见
Hope you have a nice day
送你个爱心么么哒吧''')
